# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# W&B
wandb

Pipfile
Pipfile.lock


# Misc
.DS_Store
logs
.mypy_cache
notebooks/lightning_logs
.vim

# pyenv
.python-version

